$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "partials/general";
@import "partials/header";
@import "partials/hero";
@import "partials/profile";
@import "partials/highlights";
@import "partials/footer";
