.footer {
  padding: 100px 0;
  background: url(../images/footer-background.jpg) fixed center center;
  background-size: cover;
  color: white;

  h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .lets-talk {
    font-size: 20px;
    line-height: 35px;
    color: #7f7f7f;
  }

  address {
    font-size: 20px;
    line-height: 35px;
    color: #7f7f7f;

    .glyphicon {
      margin-right: 10px;
    }
  }

  .copyright {
    color: #c9c9c9;

    .heart {
      color: #ff415c;
      font-size: 17px;
      margin: 0 5px;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.footer__social-list {
  list-style: none;
  padding: 0;
  vertical-align: bottom;
  display: inline-block;

  a {
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  img {
    width: 60px;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: bottom;
  }

  .footer__social-email {
    color: white;
    font-size: 36px;

    .glyphicon {
      top: 25%;
    }
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}
