.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: rgba(21,31,48,.85);
  z-index: 1;

  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
  }

  .navbar-header {
    .icon-bar {
      background-color: white;
    }
  }
}

.nav.navbar-nav {

  li a {
    color: white;

    &:hover {
      color: black;
    }
  }
}

.navbar {
  margin: 0;
  border: 0;
}
