.hero-section {
  background-image: url(../images/hero-background.png);
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;

  .container {
    height: 100%;
  }

  .hero-wrap {
    position: relative;
    top: 40%;

    @media (max-width: 750px) {
      top: 25%;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 75px;
    margin-bottom: 50px;

    @media (max-width: 750px) {
      font-size: 30px;
      line-height: 50px;
    }
  }

  h2 {
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 750px) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .featured-work {
    padding: 15px 25px;
    display: inline-block;
    border: solid 3px #fff;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 50px;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: #000;
      text-decoration: none;
    }

    @media (max-width: 750px) {
      margin-top: 20px;
    }
  }
}
