.portfolio {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  .portfolio-item {
    padding: 0;
    cursor: pointer;
    text-align: center;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      height: 350px;
      background-size: 100% auto;
    }
  }
}

.portfolio-modal {

  .modal-body {
    img {
      width: 100%;
    }
  }

  .modal-footer {
    border-top: 0;
    text-align: center;
  }
}

.portfolio {
  .portfolio-item-1 {
    background-image: url('../images/portfolio/northmead_menu-1.jpg');
  }
  .portfolio-item-2 {
    background-image: url('../images/portfolio/invitation.jpg');
  }
  .portfolio-item-3 {
    background-image: url('../images/portfolio/book-of-remembrance.png');
  }
  .portfolio-item-4 {
    background-image: url('../images/portfolio/fish-and-chips-thumb.jpg');
  }
  .portfolio-item-5 {
    background-image: url('../images/portfolio/seeking-humanity.png');
  }
  .portfolio-item-6 {
    background-image: url('../images/portfolio/PBI-LOGO.png');
    background-size: 100% auto;
    background-position: center;
  }
}
